---
import Layout from "../layouts/Layout.astro";
import HeaderBar from "../sections/HeaderBar.astro";
import HiThere from "../sections/HiThere.astro";
import Projects from "../sections/Projects.astro";
---

<Layout>
  <HeaderBar />
  <main>
    <HiThere />
    <Projects />
    <div class="text-center my-8">
      More projects can be found on
      <a class="text-orange-500" href="https://www.github.com/drew-harris"
        >My Github</a
      >
    </div>
  </main>
</Layout>
