---
import Layout from "../layouts/Layout.astro";
import HeaderBar from "../sections/HeaderBar.astro";
import HiThere from "../sections/HiThere.astro";
import Projects from "../sections/Projects.astro";
---

<Layout>
  <HeaderBar />
  <main>
    <HiThere />
    <Projects />
  </main>
</Layout>
