---
const { name, color } = Astro.props;
const style = {
  backgroundColor: color,
};
---

<div
  style={style}
  class="p-2 grid place-items-center text-center rounded-2xl text-xs"
>
  {name}
</div>
