<div class="sm:p-8 p-4 sm:ml-8 mt-5">
  <h1 class="text-3xl font-bold">
    Hi There, I'm
    <span class="text-orange-400"> Drew Harris</span>
  </h1>
  <p class="pt-3 max-w-xl">
    I'm a full stack web developer studying at Southern Methodist University.
  </p>
</div>
