---
import Project from "../components/Project.astro";
import TechBadge from "../components/TechBadge.astro";
import SmallProject from "../components/SmallProject.astro";
---

<h1 class="text-xl mt-8 font-bold text-orange-400">My Projects</h1>
<div>
  <Project
    title="Robolist"
    ghLink="https://github.com/drew-harris/robolist"
    visitLink="http://robolist.drewh.net"
    description="A customizable school planner that schedules assignments for you and syncs with your college's canvas portal."
    image="./Robolist-screen-shot.png"
    image="./robolistvideo.mov"
  >
    <TechBadge name="React" color="#2563eb" />
    <TechBadge name="TRPC" color="#52525b" />
    <TechBadge name="NextJS" color="#b91c1c" />
  </Project>
  <Project
    title="Stemify 2"
    ghLink="https://github.com/drew-harris/stemify2"
    visitLink="http://www.stemify2.net"
    description="Music platform that allows users to split songs into drums, vocals, and bass to create live remixes in the browser. Used by over 20k Stem Player owners!"
    image="./stemifyvideo.mov"
    flipped
  >
    <TechBadge name="React" color="#2563eb" />
    <TechBadge name="PostgreSQL" color="#15803d" />
    <TechBadge name="NextJS" color="#b91c1c" />
    <TechBadge name="Google Cloud" color="#b31c7c" />
    <TechBadge name="Tailwind" color="#035c8c" />
    <TechBadge name="Go" color="#4cb9db" />
    <TechBadge name="Python" color="#646464" />
  </Project>

  <SmallProject
    title="Spotify Sessions"
    description="Mobile app that tracks your Spotify listening sessions so you can jump right back to where you left off in an album."
    ghLink="https://github.com/drew-harris/spotify-sessions"
  />

  <SmallProject
    title="Shulker"
    description="A TUI (terminal user interface) for efficient plugin development at the HuMIn Game Labs."
    ghLink="https://github.com/drew-harris/shulker"
  />

  <SmallProject
    title="Election Tracker"
    description="Scraping Fizz, the annoymous college social media, and using sentiment analysis to predict the outcomes of SMU student body elections."
    ghLink="https://github.com/drew-harris/election-tracker"
  />

  <SmallProject
    title="Lights"
    description="Rust program that hijacks the Govee Smart Light bluetooth connection to sync the room's color with a television for an immersive viewing experience."
    ghLink="https://github.com/drew-harris/lights"
  />

  <SmallProject
    title="Flickaid"
    description="Database/GUI Class Project that allowers to rate and organize their favorite films."
    ghLink="https://github.com/drew-harris/db-gui-team-1"
    visitLink="https://flickaid.com"
  />

  <SmallProject
    title="Stemify (Original)"
    description="The original platform for high quality music stems. Peaked at 80k daily users and was replaced by Stemify 2. Written with Svelte and MongoDB, powered by the Demucs machine learning model."
    ghLink="https://github.com/drew-harris/stemify-website"
    visitLink="https://stemify-website.vercel.app/"
  />

  <SmallProject
    title="ASL Pro"
    description="Automatically generates flashcards from aslpro.com"
    ghLink="https://github.com/drew-harris/stemify-website"
  />
</div>
